.env
.env/*
PocketBase/production_DB
!PocketBase/production_DB/entry.sh
PocketBase/dev_DB
shared-volumes/letsencrypt
!shared-volumes/letsencrypt/.afk
shared-volumes/certbot-www
!shared-volumes/certbot-www/.afk
